<header class="header" id="header">
        <div class="nav-bar">
            <div class="logo">
                <img src="logo.png" alt="Hartford India Logo" class="logo-img">
                <h1>Hartford India</h1>
            </div>
            <nav>
                <ul class="nav-links">
                    <li><a href="#auto">Auto</a></li>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#business">Business</a></li>
                    <li><a href="#employee benefits">Employee Benefits</a></li>
                    <li><a href="#about">About</a></li>
                    
                </ul>
            </nav>
            <div class="hamburger">
                <span></span>
                <span></span>
                <div class="search-box">
                    <input type="text"  placeholder="What to search...🔍" class="search-input">
                    
                </div>
            </div>
        </div>
    </header>